{% extends "layout.twig" %}

{% block navbar %}
{% include "admin/partials/navbar.twig" %}
{% endblock %}

{% block content %}

    <!-- Begin page content -->
    <div class="container">
        <div class="col-lg-8 col-md-offset-2">
          <div class="row">
            <form class="form-horizontal" action="{{ path_for('create') }}" method="POST" enctype="multipart/form-data">
              <input type="hidden" value="{{ csrf_value }}" name="{{ csrf_name }}">
              <fieldset>

                {% include "admin/alert/form.twig" %}

                <div class="{{ form.invalid_input.title ? 'has-error' : '' }}">
                  <label class="control-label">Presentation title</label>
                  <div>
                    <input type="text" name="title" value="{{ form.input_value.title ?? '' }}" class="form-control">
                    {% if form.input_message.title %}
                      <span class="help-block">
                          <strong>{{ form.input_message.title }}</strong>
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="{{ form.invalid_input.file ? 'has-error' : '' }}">
                  <label class="control-label">Presentation file</label>
                  <div>
                    <input type="file" name="file">
                    {% if form.input_message.file %}
                      <span class="help-block">
                          <strong>{{ form.input_message.file }}</strong>
                      </span>
                    {% endif %}
                    <span>
                      Upload
                      <a target="_blank" href="http://daringfireball.net/projects/markdown/">Markdown</a>,
                      <a target="_blank" href="https://help.github.com/categories/writing-on-github/">GitHub flavored Markdown</a> or
                      <a target="_blank" href="https://michelf.ca/projects/php-markdown/extra/">Markdown with Extra extension</a>
                      file. <br>
                      Yup your GitHub Repo README file will work ;)<br>
                      For details check Parsedown <a href="http://parsedown.org/" target="_blank">Markdown Parser</a>
                    </span>
                  </div>
                </div>

                <div>
                  <label></label>
                  <div>
                    <button class="btn btn-primary" type="submit">Create</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
    </div> <!-- /container -->


{% endblock %}
