<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Presentation2.0 is a PHP Web App that helps you quickly prepare and present presentation simply from Markdown file.">
    <meta name="keywords" content="presentation, markdown, slide sync, presentation2.0, slide">
    <meta name="author" content="Deepak Adhikari <deeps.adhi@gmail.com>">

    <title>Presentation 2.0</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/theme/{{ theme }}/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ app.request.basepath }}/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{ app.request.basepath }}/js/vendor/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ app.request.basepath }}/js/vendor/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ app.request.basepath }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ app.request.basepath }}/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% block navbar %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          <a target="_blank" href="https://github.com/deepsadhi/presentation2.0">GitHub</a>
        </p>
      </div>
    </footer>

    <script src="{{ app.request.basepath }}/js/vendor/jquery-2.2.1.min.js"></script>
    <script src="{{ app.request.basepath }}/js/vendor/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ app.request.basepath }}/js/vendor/ie10-viewport-bug-workaround.js"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
