{% extends "layout.twig" %}

{% block navbar %}
{% include "navbar.twig" %}
{% endblock %}

{% block content %}

    <!-- Begin page content -->
    <div class="container">
        <div class="col-lg-6 col-md-offset-3">
          <div class="row">
            <form class="form-horizontal" action="{{ path_for('settings') }}" method="POST">
              <input type="hidden" value="{{ csrf_value }}" name="{{ csrf_name }}">
              <input type="hidden" value="PUT" name="_METHOD">
              <fieldset>
                {% include "form.alert.twig" %}
                <div class="{{ form.invalid_input.old_password  ? 'has-error' : '' }}">
                  <label class="control-label">Old password</label>
                  <div class="">
                    <input type="password" name="old_password" class="form-control" >
                    {% if form.input_message.old_password %}
                      <span class="help-block">
                          <strong>{{ form.input_message.old_password }}</strong>
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="{{ form.invalid_input.new_username  ? 'has-error' : '' }}">
                  <label class="control-label">New username</label>
                  <div class="">
                    <input type="text" value="{{ form.input_value.new_username ?? '' }}" name="new_username" class="form-control">
                    {% if form.input_message.new_username %}
                      <span class="help-block">
                          <strong>{{ form.input_message.new_username }}</strong>
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="{{ form.invalid_input.new_password  ? 'has-error' : '' }}">
                  <label class="control-label">New password</label>
                  <div class="">
                    <input type="password"  name="new_password" class="form-control" >
                    {% if form.input_message.new_password %}
                      <span class="help-block">
                          <strong>{{ form.input_message.new_password }}</strong>
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="">
                  <label></label>
                  <div>
                    <button class="btn btn-primary" type="submit">Update</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
    </div> <!-- /container -->


{% endblock %}
